server {
      listen 80;
      listen [::]:80;
 
      root /var/www/html;
 
      # Add index.php to the list if you are using PHP
      index index.php index.html index.htm index.nginx-debian.html;
 
      server_name ci.infradev.jendyjasper.com www.ci.infradev.jendyjasper.com;
 
      location / {
        proxy_pass http://172.31.91.142:8080;
        include /etc/nginx/proxy_params;
      }
 }

 server {
      listen 80;
      listen [::]:80;
 
      root /var/www/html;
 
      # Add index.php to the list if you are using PHP
      index index.php index.html index.htm index.nginx-debian.html;
 
      server_name tooling.dev.jendyjasper.com www.tooling.dev.jendyjasper.com;
 
      location / {
        proxy_pass http://172.31.87.40;
        include /etc/nginx/proxy_params;
      }
 }