server {
 
      root /var/www/html;
 
      # Add index.php to the list if you are using PHP
      index index.php index.html index.htm index.nginx-debian.html;
 
      server_name tooling.dev.jendyjasper.com;
 
      location / {
        proxy_pass http://172.31.86.181;
        include /etc/nginx/fastcgi_params;
      }

}

#redirect www traffic to non www
 server {
    server_name www.tooling.dev.jendyjasper.com;
    return 301 $scheme://tooling.dev.jendyjasper.com$request_uri;

}
